* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #522565;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: aquamarine;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #951C49;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #747474;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h1{
  text-align: center;
}

.row {
  width: 100%;
}

.box {
  border: 1px solid black;
  position: relative;
  background-color: gray;
  margin: 5px;
  left: 10px;
  }


  
  h2 {
    text-align: center;
    float: right;
    position: absolute;
    top:0%;
    bottom: 110px;
    right: 33%;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    }
  
  #t1 {
  background-color: gray;
  color: black;
  
  }
  
  #t2 {
  background-color: gray;
  color: black;
  }
  
  #t3 {
  background-color:gray;
  color: black;
  }
  
  p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 10px 0;
  font-size: 20px;
  position: relative;
  margin-top: 21px;
  margin-bottom: 5px;
  }




/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
}

.col-md-12 {
    width: 100%;
    float: left;
}

}
  /* Home Page */
  
  /* End Home Page */


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }


  .col-sm-12 {
    width: 100%;
    float: left;
}


#call-btn > a {
  font-size: 1.5em;
  display: block;
  margin: 0 20px;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #f6b319;
  color: #951c49;
}
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 6vw;
  }
 
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



